    <div class="row">
        <div class="col-md-8">
            <div class="about">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Who are we?</h2>
                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>Dummy Text Paragraph. Dummy Text Paragraph. Dummy Text Paragraph.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Our Mission</h2>

                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>Dummy Text Paragraph. Dummy Text Paragraph. Dummy Text Paragraph.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Our Dog Stats</h2>
                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>Dummy Text Paragraph. Dummy Text Paragraph. Dummy Text Paragraph.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Where are we?</h2>
                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>Dummy Text Paragraph. Dummy Text Paragraph. Dummy Text Paragraph.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container" style="margin-top: 3px;">
                <div class="dog">
                  <div class="dog-head">
                    <div class="dog-ears ears-left"></div>
                    <div class="dog-ears ears-right"></div>
                    <div class="dog-eyes"></div>
                    <div class="dog-mouth">
                      <div class="dog-nose"></div>
                      <div class="dog-tongue"></div>
                    </div>
                  </div>
                  <div class="dog-tail"></div>
                  <div class="dog-body">
                    <div class="dog-foot"></div>
                  </div>
                  <div class="ball"></div>
                </div>
            </div>
        </div>
    </div>